@font-face {
	font-family: arcade;
	src: url("ARCADE.TTF");
	font-weight: 0.2;
}


body {
	font-family: 'VT323', monospace!important;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
	display: block;
	text-align: center;
	overflow-y: auto;
	color: #18FF62 !important;
	text-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
}

body::-webkit-scrollbar {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: #71a682;
}

#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0!important;
	left: 0!important;
	pointer-events: none;
}

#bg:before{
	content: '';
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(#14D20A 50%, #000 50%);
	background-size: 100% 4px;
	background-repeat: repeat-y;
	opacity: .14;
	box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, .8);
	border-radius: 20px;
	z-index: 1;
	pointer-events: none;
}

#bg:after{
	content: '';
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: -webkit-radial-gradient(ellipse, center cover, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #00C853;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #00C853;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #00C853;
}
:-moz-placeholder { /* Firefox 18- */
	color: #00C853;
}

::-webkit-scrollbar {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #71a682;
}


#submitButton {
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
	margin-top: 24px;
	width: 100%!important;
	background-color: transparent;
	font-weight: bold;
	transition: all 0.1s;
	font-size: 18pt;
}
#submitButton:hover {
	cursor: pointer;
	background-color: #00C853;
	color: rgb(43,54,42);
	text-shadow: none !important;
}


.left {
	width: 40%;
	position: absolute;
	right: 50%;

}

.right {
	height: auto;
	width: 40%;
	position: absolute;
	left: 50%;
}

#brief {
	padding: 24px;
	text-align: left;
	font-size: 18pt;
	border: solid #71a682 2px;
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
	margin: 12px 12px 36px;
	line-height: 1.4;
}

#question-answer {
	padding: 24px;
	text-align: left;
	font-size: 18pt;
	border: solid #71a682 2px;
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
	margin: 12px 12px 36px;
}

#reference {
	padding: 24px;
	text-align: left;
	font-size: 18pt;
	border: solid #71a682 2px;
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
	margin: 12px 12px 36px;
}

.answerList {
	padding: 6px;
	background: transparent;
}

.title {
	position: absolute;
	margin-left: -14px;
	padding: 6px;
	margin-top: -42px;
	background-color: #000;
	font-size: 18pt;
	line-height: 1!important;
}


.titleBelow {
	position: absolute;
	margin-right: 28px;
	padding: 6px;
	margin-bottom: 22px;
	bottom: 0;
	right: 0;
	background-color: #000;
	transition: 0.1s;
	font-size: 22pt;
}
.titleBelow:hover {
	cursor: pointer;
	background-color: #00C853;
	color: #000;
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
	text-shadow: none !important;
}

table {
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
	border-collapse: collapse;
	font-size: 16pt;
	height: auto;
}
td {
	padding: 6px;
	border: solid #71a682 2px;
	box-shadow: 0 0 2px rgba(10, 255, 10, .8) !important;
}

.tableContainer {
	margin: 10px;
	display: inline-block;
}

.hoverEffect {
	cursor: pointer;
	background-color: #00C853;
	color: rgb(43,54,42);
	box-shadow: 0 0 4px rgba(10, 255, 10, 1) !important;
}