<div class="left" style="top: 20px;">
    <div id="brief">
        <div class="title">BRIEFING</div>
        <div class="briefList">
            Magnetosphere is the outer layer of a planet which holds the magnetic field. Any star still undergoing nuclear fusion at its core is constantly emitting solar winds [stream of charged particles (protons, electrons & alpha particles) from the upper atmosphere of the sun] due to intense heat near the surface of the sun, or the corona. If a planet is insufficiently protected by a magnetic field, this bombardment would do severe and near-irreversible damage to any atmosphere [the charged particles hit the gases constantly until they are accelerated to escape velocities and shot off into space in a process called atmospheric stripping] or life developing on the surface.
            The closest example to home is our red neighbour Mars, which through persistent atmospheric stripping and periodic solar flares [natural phenomenon which increase the star’s brightness and solar winds due to internal reactions for short periods of time] lost it’s almost Earth-like atmosphere, and almost all chance at developing life.
                <br>
            The optimum magnetic field would be over 30 microteslas in order to maintain a long term colony.

        </div>
    </div>
</div>

<div class="right" style="top: 20px;">
    <div id="reference">
        Andromache's Magnetic Field Strength: 50-70 microteslas<br>
        Di Wie's Magnetic Field Strength: 45-70 microteslas<br>
        Di Ex's Magnetic Field Strength: 10-25 microteslas<br>
    </div>
    <div id="question-answer">
        <div class="title">RESPONSE</div>
        The next influential factor to habitability is magnetosphere. <br>Read the
        information and select appropriate planets.
        <div class="answerList" ng-click="clickAnswer(false, 1)" id="answer1">A) Di Ex</div>
        <div class="answerList" ng-click="clickAnswer(false, 2)" id="answer2">B) Andromache & Di Ex</div>
        <div class="answerList" ng-click="clickAnswer(true, 3)" id="answer3">C) Andromache & Die Wie</div>
        <div class="titleBelow" ng-click="submitAnswer(answer)">Submit</div>
    </div>
</div>
