<div class="left" style="top: 20px;">
    <div id="brief">
        <div class="title">BRIEFING</div>
        <div class="briefList">
            Tue-moi is a language that was discovered by the human federation in the year 3045 during the early crusades for the increase of human colonies throughout the universe. During this time, the Tue-moi language was used to send diplomatic messages back and forth between numerous planets as it had become a very common language between planets. Understanding this language has now became an imperative aspect of space travel and those who do not understand or know it often have difficulties in interactions and communications which lead to misunderstandings and offenses between groups. Fortunately, the Tue-moi language is a relatively easy language to learn and master as its grammar system is identical to the English language on Earth. The only differences between the two language is its speech and alphabet system which is depicted below.
            <img style="margin: 12px;" src="questions/alphabet.png" width="100%" height="20%">
        </div>
    </div>
</div>

<div class="right" style="top: 20px;">
    <div id="reference">
        <img src="questions/hello.png" width="100%" height="20%">
    </div>
    <div id="question-answer">
        <div class="title">RESPONSE</div>
        We have received a foreign transmission, we assume from the planet ‘Andromache’, use the
        decoding table on the left to translate the message.
        <div class="answerList" ng-click="clickAnswer(true, 1)" id="answer1">A) Hello</div>
        <div class="answerList" ng-click="clickAnswer(false, 2)" id="answer2">B) Sheep</div>
        <div class="answerList" ng-click="clickAnswer(false, 3)" id="answer3">C) Enter</div>
        <div class="titleBelow" ng-click="submitAnswer(answer)">Submit</div>
    </div>

</div>
