<div class="left" style="top: 20px;">
    <div id="brief">
        <div class="title">BRIEFING</div>
        <div class="briefList">
            The mass of a planet also affects habitability as it affects the gravitational force exerted on the surface of the planet, sometimes making it too strong for human requirements, as well as the kinds of gases able to be retained in the atmospheres. An example is Mercury, whose size (in conjunction with spin and temp) make it impossible to hold the heavier gases required in significant quantities.
           <br> The optimal mass is  4.26x10^24 – 8.52x10^27.
        </div>
    </div>
</div>

<div class="right" style="top: 20px;">
    <div id="reference">
        Andromache Mass – 6x10^27<br>
        Di Wie Mass – 9x10^25<br>
        Di Ex Mass – 1x10^28<br>
    </div>
    <div id="question-answer">
        <div class="title">RESPONSE</div>
        Each of the these selected planets can be found in the ‘Planetary Index’ with all necessary
        details included. The next factor that they can be narrowed down by is mass (read
        handbook as to why).<br>
        Select the appropriate planets by name.
        <div class="answerList" ng-click="clickAnswer(false, 1)" id="answer1">A) Die Wie & Di Ex</div>
        <div class="answerList" ng-click="clickAnswer(true, 2)" id="answer2">B) Die Wie & Andromache</div>
        <div class="answerList" ng-click="clickAnswer(false, 3)" id="answer3">C) Di Ex</div>
        <div class="titleBelow" ng-click="submitAnswer(answer)">Submit</div>
    </div>
</div>
